html{
	font-size:62.5%;
}

@font-face {
    font-family: 'salsa';
    src: url('../police/Salsa-Regular.ttf');
}


body{
	word-wrap: break-word;
}
main{
	overflow:auto;
}

header{
	position:relative;
	overflow:auto;
	left: 0;
	top: 0;
	height :0;
	z-index: 1;
}

nav{
	overflow:auto;
	background:#F0F2DD;

}

section{
	position:fixed;
	width:100%;
	background-image: url(../image/gazon2.jpg);
	background-repeat: repeat;
	background-size: contain;
	z-index: 2;
}

img{
	border-radius:50%;
}

#menu /* Ensemble du menu */
{
    font-weight : bold; /* on met le texte en gras */
    z-index: 2;
}

#menu, #menu ul{
	list-style-type: none;
	margin: 0px;
	text-align: center;
	padding:0px;
	z-index: 2;
}

#menu a {
	display : block;
	padding : 0;
	color:black;
	text-decoration: none;
	cursor: pointer;
	width : 100%;
}

#menu li{
	float:left;
	margin:0px 0px 0px 0px;;
	width:16%
 }

 #menu li ul{ 
    position: absolute; /* Position absolue */
    width: 16%; /* Largeur des sous-listes */
    left: -999em;
} 

#menu li ul ul{
    margin-top: -50px;
    margin-left: 255px ;
    border-left: 3px solid black ;
    width: 70%;   
}

#menu li ul li{
	border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}


 #menu li li{
	display:inline-block;
	margin:0px auto;
	width:100%
 }


 #menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

footer{
 	background:#78975E;
 	margin:0px;
 }

footer li{
 	display:inline-block;
	margin:0px 0px 0px 0px;
	background:#78975E;
	text-align: center;
	border-radius: 30px;
	width:23%
 }

footer ul{
 	background-image: url(../image/gazon.jpg);
	background-repeat: repeat;
	background-size: contain;
 }

footer ul ul{
 	background:none;
 	text-align: center;
 }

a:visited{
	color:pink;
}

a:active{
	color: red;
}

a:hover{
	background: pink;
	z-index: 3;
}


main{
	width: 100%;
	position:relative;
	overflow: auto;
}

article{
	float:right;
	width: 70%;
	margin-bottom:23px;
	margin-top:20px;
	box-shadow: 0px 7px 20px 7px #8E5660;
	border-radius: 20px;
	}

aside{
	margin-top:20px;
	float: right;
	width: 20%;
}

fieldset{
	border:none;
	box-shadow: 0px 0px 20px 10px #cfcfcf;
}

legend{
	font-style: italic;
	text-align: center;
	font-size: 2.5rem;
	text-decoration: underline red
	color: black;
	font-family: Impact, serif;
	font-weight: bold;
	margin-top:2.3rem;
}

h1{
	color:blue;
	font-size: 6rem;
	text-align: center;
	font-family: "Comic Sans MS", "Courier New", Verdana, serif;
	padding: 0.7rem;
	margin:0 23 auto;
}

h2{
	font-size: 3rem;
	color:red;
	font-family: Impact, "Courier New", Verdana, serif;
	border-bottom: 0.7rem green solid;
	text-align: center;
	padding: 0.7rem;
}

h3, h4{
	font-style: oblique;
	font-size: 2rem;
	color:black;
	font-family: salsa, Verdana, "Courier New", serif;
	text-align: center;
	padding:0.3rem;
}

h4{
	font-weight: bold;
	font-size: 2rem;
	font-family: salsa, Verdana, "Courier New", serif;
	text-decoration: underline;
}

h5{
	font-size: 2rem;
	font-family: "Courier New", Verdana, serif;
}

p{
	font-family: salsa, "Comic Sans MS", serif;
	font-size: 1.7rem;
	color:black;
	text-align: center;
	padding:0.3rem;
	margin: 0.3rem 0.3rem auto; 
}

li{
	font-size: 1.7rem;
}

input{
	font-size:1.7rem;
	background-color:white;
}

table{
 	border: 0.3rem solid black;
 	text-align: center;
 	width:80%;
	font-family: "Comic Sans MS", "Courier New", Verdana, serif;
	border-collapse: collapse;
	margin:0px auto;
}

td{
	border: 0.1rem dotted black;
}

th{
	color:black;
 	text-decoration: underline;
}

.shopNavigateurPanier ul{
	list-style: none;
	margin:0;
	padding:0;
}

.homeAside{
	width: 70%;
	float: right;
	border-radius: 3rem;
	background: grey;

}

.homeAsideImage{
	background: grey;
 	border:7px black solid;
 	border-radius: 30px;
 	padding:7px;
 	width: 20%;
 	float: right;
 	margin-left: 20px;
 	margin-top: 7px;
 	box-shadow: 0px 7px 20px 7px #680100; 
}

.articleBox{
	overflow:auto;
}

.articleBoxImageL{
	width: 20%;
	float:left;
	margin-left:23px;
}

.articleBoxImageL img{
	max-width:100%;
	width:100%;
}

.articleBoxImageR{
	width: 20%;
	float:right;
	margin-right:23px;
}

.articleBoxImageR img{
	max-width:100%;
	width:100%;
}

.articleText{
	width: 50%;
	float:left;
}

.important{
 	text-decoration: underline;
 	text-decoration-color: red;
 }

.full{
	width: 100%;
	overflow: auto;
}

.logo1{
	width: 150px;
	height:100px;
	overflow: hidden;
	background-image: url(../image/vers-recycleur.png);
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.5;
	float:left;
}

.titre{
	float:left;
	width: 80%;
	text-align: center;
}

.slogan{
	font-size: 2.3rem;
	font-weight: bolder;
	font-style: italic;
	text-shadow: red;
	text-decoration: overline;
	text-transform: capitalize;
	text-shadow: 3px 2px red;
}

.important{
 	text-decoration: overline;
 	text-decoration-color: red;
 }

.navNav1{
	background: #78975E;
	border-radius: 20px;
}

.nav4{
	background: #C49CD0;
	border-radius: 10px;
}

.nav5{
	background: #D7E4B0;
	border-radius: 10px;
}

.nav1{
	background: #FEDD77;
	border-radius: 10px;
}

.nav2{
	background: #FEA25D;
	border-radius: 10px;
}

.nav3{
	background: #4E2C66;
	border-radius: 10px;
}

.footerImage{
	display:inline-block;
}

.footerText{
	display:inline-block;
}

.footerIcon{
	font-size:2rem;
}

.tableYes{
 	color:green;
 }

 .tableNo{
 	color:red;
 }

.asideImage{
	overflow: hidden;
	background: #819694;
 	border:7px black solid;
 	box-shadow: 0px 7px 20px 7px #C8DBB7;
 	border-radius: 30px;
 	padding:7px;
 	margin-top:23px;
 	margin-left: auto;
	margin-right: auto;
}

.asideSaisonImage{
	width: 90%;
	margin: 0 auto;
}

.asideSaisonImage img {
	max-width:100%;
	width:100%;
}

.asideProfilImage{
	width: 90%;
	margin: 0 auto;
}

.asideProfilImage img {
	max-width:100%;
	width:100%;
}

.asideProfilPanier{
	margin:23px auto;
	text-align: center
}
.aside{
	overflow: auto;
 	background: #C2CDCE;
 	border:7px black solid;
 	box-shadow: 0px 7px 20px 7px #C8DBB7;
 	border-radius: 30px;
 	padding:7px;
 	margin-top:23px;
 	margin:0 auto;
}

.asideInfo{
	font-size: 1.7rem;
	color:red;
	text-align: center;
	padding:3px;
	font-weight: bolder;
}

.button{
	text-align: center;
	margin-top:7px;
}

.formButtun{
    width: 90%;
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #cb0000;
    cursor: pointer;
    text-align: center;
}

.asideConexionButton{
	background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 20px 10px #000000;
    font-size: 1em;
    font-style: italic;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
}

.profilDescription{
	float:left;
	width: 30%;
	margin:5px 3px;
	box-shadow: 10px 10px 5px green;

}

.forumMessage{
	box-shadow: 0px 10px 10px 5px #000000;
	border-radius: 30px;
	margin: 23px;
}

.forumImage{
	width: 10%;
	margin: 3px;
	display: inline-block;
}

.forumImage img {
	max-width:100%;
	width:100%;
}

.forumText{
	text-align:left;
	width: 70%;
	display: inline-block;
}

.form{
	border:3px black solid;
	border-radius: 20px;
	margin: 23px auto;
	padding:7px;
}

.formInfo{
	font-size: 2rem;
	font-family: Verdana, serif, "Courier New", "Comic Sans MS";
	font-style: normal;
	margin-bottom: 1rem;
	margin-top: 3rem;
	font-weight: bold;
}

.formTape{
	width: 100%;
    padding: 1.2rem 2rem;
    margin-top:1.3rem;
    margin-bottom:1.3rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formTapeSmall{
	width: 30%;
    padding: 12px 20px;
    margin-top:1.3rem;
    margin-bottom:1.3rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formContactChamp{
	width:100%;
	border: 7px black solid;
	margin-top:1.3rem;
    margin-bottom:1.3rem;
	border-radius: 2rem;
}
.annexe{
	/*position: absolute;
	left: -999em;*/
}
.shopNavigateur{
	overflow: auto;
	margin: 0px auto;
	border-radius: 30px;
	padding:5px;
}

.shopNavigateurList li{
	display:inline-block;
	border: 2px black solid;
	width:25%;
	box-shadow: 0px 5px 5px 3px blue;
	border-radius: 30px;
	float: left;
}

.shopNavigateurList li ::after{
	content:" > ";
}

.shopNavigateurPanier{
	float: right;
}

.shopAction{

}

.produit{
	overflow: auto;
	margin: 10px auto;
	box-shadow: 0px 10px 10px 5px #000000;
	border-radius: 10px;
	padding:5px;
}

.produitButton{
	background-color: black;
	font-size:1.7rem;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #cfcfcf;
    cursor: pointer;
}
.produitPhoto{
	border: 3px solid grey;
	box-shadow: 10px 10px 5px #656565;
}

.produitPhoto img {
	max-width:100%;
	width:100%;
}

.produitDescription{
	box-shadow: 10px 10px 5px #656565;
}

.produitDescriptionText{
	font-style: italic;
	opacity:1;
}

.produitAction{
	border:3px solid black;
	border-radius: 30px;
}

.produitPanier{
	overflow: auto;
}

.produitPanierAdd{
 width:60%;
 float:left;
}
.produitPanierQuantiteAdd{
	width:35%;
 	float:left;
 	margin:3rem 0;
}
.produitPanierDirectButton{
	width: 65%;
	float:left;
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #cb0000;
    cursor: pointer;
    text-align: center;
}

.produitPanierForm{
	overflow:auto;
}

.produitPrix{
	font-size: 2em;
}


.panierNavigation{
	margin: 0px auto;
	width: 100%	
}

.panierNavigation li{
	display:inline-block;
	border: 2px blue solid;
	width: 17%;
	box-shadow: 0px 10px 10px 5px #000000;
	border-radius: 30px;
	padding:5px;
}
.panierNavigationColor{
	background: green;
}

.panierButton{
	background-color: grey;
    color: black;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 23px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px black;
    cursor: pointer;
    list-style: none;
}

.panierSuprimButton{
	width: 65%;
	background-color: red;
	color: black;
	display: inline-block;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 10px black;
	cursor: pointer;
}

.panierProduit{
	float:left;
	width: 32%;
	box-shadow: 0px 5px 10px 5px #32cb00;
	margin:3px 3px;
}

.panierProduitPhoto{
	width: 40%;
	float: left;
	border: 3px solid grey;
	margin:0px 3px;
}

.panierProduitPhoto img {
	max-width:100%;
	width:100%;
}

.panierProduitPrix{
	font-size: 1.3rem;
	color:red;
	text-align: center;
}

.panierLivraison{
	width: 45%;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 10px 10px 5px #000000;
	margin-left:13px;
}

.panierLivraisonContenu{
	width: 100%;
	border:1px green solid;
}

.panierLivraisonContenuMode{
	width: 100%;
	text-align: center;
}

.panierLivraisonContenuDetail{
	width: 100%;
	font-style:italic;
	font-size: 0.7rem;
	text-align: center;
}

.panierTotal{
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom:23px;
}

.panierRecapitulatif{
	width: 46%;
	float: left;
	margin:15px;
}


.page li{
	display:inline-block;
	font-style:NIER8 oblique;
	border: 3 solid green;
	border-radius: 20px;
	background: green;
	float:right;
	margin:7px 3px;
	text-align:center;
}

.shopBaniere{
	overflow: auto;
	border-left: 8px solid #DF9DB4;
	border-right: 8px solid #DF9DB4;
	border-top: 3px solid #DF9DB4;
	background: #E4BCCD;
}

.shopBanierePhoto{
	width: 31%;
	float: left;	
}

.shopBanierePhoto img {
	max-width:100%;
	width:100%;
}

.shopSlogan{
	font-size: 2em;
	font-style: oblique;
	text-align: center;
	font-weight: bolder;
	border-left: 8px solid #8E5660;
	border-right: 8px solid #8E5660;
	border-bottom: 8px solid #8E5660;
	margin: 0px;
	background:#8E5660;
}

.shopSaison{
	overflow: auto;
	text-align: center;
}
.shopProduit{
	width: 45%;
	float:left;
	margin:23px 0px;
	border-bottom: 3px solid red;
	box-shadow: 0px 5px 10px 10px #00009b;
}

.shopProduitPhoto{
	width: 95%;
	border: 3px solid grey;
	margin:0px auto;
}

.shopProduitPhoto img {
	max-width:100%;
	width:100%;
}


.shopSold{
	font-size: 2em;
	background: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.shopProduitPrix{
	margin-top: 8px;
	font-size: 2em;
	font-weight: bold;
}

.shopLivraison{
	overflow: auto;
	background: #615A5E;
	text-align: center;
}

.shopLivraisonPhoto{
	width: 30%;
	display: inline-block;
	/*float:right;*/
}

.shopLivraisonChrono{
	width: 65%;
	display: inline-block;
	/*float: right;*/
}

.shopLivraisonText{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}